body {
    margin: 0;
    overflow: hidden;
}
#touchpad {
    width: 100vw;
    height: 100vh;
    background: lightgray;
}
#keyboard {
    display: none;
    position: fixed;
    bottom: 0;
    width: 100vw;
    background: white;
}
